<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	<context:property-placeholder location="classpath:datos.properties"/>
	<context:component-scan base-package="com.ejemplo"/>
	<!-- a partir de aquí se definen los beans -->
	<bean id="miExperienciaServicio" class="com.ejemplo.PocaExperienciaServicio">
	</bean>
	<bean id="miprofesorinformatica" scope="prototype" class="com.ejemplo.ProfesorInformatica" 
			init-method="init" destroy-method="destroy">
		<!-- se establece qué bean se inyecta (miExperienciaServicio) y dónde (en el constructor) -->
		<constructor-arg ref="miExperienciaServicio"></constructor-arg>
		<property name="email" value="ProfesorInformatica@mail.com"></property>
		</bean>
		<bean id="miProfesorMates" scope="prototype" class="com.ejemplo.ProfesorMates" 
			init-method="init" destroy-method="destroy">
		<!-- se establece qué bean se inyecta (miExperienciaServicio) y dónde (en el constructor) -->
		<constructor-arg ref="miExperienciaServicio"></constructor-arg>
		<property name="email" value="${email}" />
		</bean>
		<bean id="miProfesorOrientacion" scope="prototype" class="com.ejemplo.ProfesorOrientacion" 
			init-method="init" destroy-method="destroy">
		<!-- se establece qué bean se inyecta (miExperienciaServicio) y dónde (en el constructor) -->
		<property name="experienciaServicio" ref="miExperienciaServicio" />
		<property name="email" value="ProfesorOrientacion@mail.com"></property>
		</bean>

	
</beans>